/* z-index css */
.floor{
  z-index: 20;
}
.main{
  z-index: 40;
  clear: both;
  position: relative;
}
.header{
  z-index: 60;
}
.mask{
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px;
  position: fixed;
  left:0;
  right: 0;
  bottom: 0;
  top: 0;
}
.float{
  top: 25%;
  z-index: 100;
  position: absolute;
  height: 50%;
  width: 50%;
  left:25%;
}
.float img{
  border: 20px;
  border-color: white;
  border-radius: 5%;
  position: absolute;
  height: 100%;
  width: 100%;
}
.float input{
  position: absolute;
  width: 30%;
  height: 2em;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.float button{
  position: absolute;
  width: 30%;
  left: 35%;
  top: 60%;
  z-index: 100;
}
/* Body css */
@font-face{
  font-family: SketchesFontAA;
  src:url('../fonts/sketchesfont.ttf');
}
.fontSketches{
  font-family: SketchesFontAA;
}
body{
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  font-size:20px;

}

/* Head css */
.image.head-img img{
  border-radius: 100%;
  width: 100px;
}
.image {
  border: 0;
  display: inline-block;
  position: relative;
  margin: 0 0 0.5em 0;
}
.header-header{
  margin-right: 3em;
}
.headr-txt-name {
  margin-right: 25px;
}

.header-btn{
  margin-top: 20%;
  margin-right: 0;
}
.header-btn .nav-btn{
  margin: 0;
  font-size: 30px;
  width: 100%;
  padding: 1em 60px 1em 0em;
  text-align: right;
  border: 0;
  outline: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.nav-btn:hover {
  font-size: 35px;
  background-color: rgba(255, 255, 255, 0.4);
}


#header{

  width: 20%;
  height: 100%;
  padding: 6em 0 3em 0em;
  background-color: #aaa;
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: auto,auto 100%;
  text-align: right;

  position: fixed;
  left: 0;
}


#footer{

  bottom: 0;
  right: 85%;
  margin-bottom: 10%;
  position: fixed;
}

#footer button{
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0);
  border: 0;
  outline: none;
}

/* Main page css */
.mainpage {
  margin-left: 20%;
  width: 80%;
  height: auto;
  position: relative;
}
.mainpage section{
  position: relative;
}
